/Debug
/Release
/x64
/Crinkler
html/
/include/shader
/Inspirationen
/screens
/historicalbinaries
/SoundTest
/dependencies/glfw-3.0.3/examples
/dependencies/glfw-3.0.3/src
/dependencies/glfw-3.0.3/docs
/dependencies/glfw-3.0.3/deps
/dependencies/glfw-3.0.3/CMAKE*
/dependencies/glfw-3.0.3/build
/dependencies/glfw-3.0.3/tests
/dependencies/glew-1.10.0/bin
/dependencies/glew-1.10.0/doc
/processedshaderdump/shader

*.sdf
*.opensdf
*.suo
*.zip
*.user
*.vspx
*.psess
*.tlog
*.idb
*.pdb
*.obj
*.db

config.json